html {
    background-color: #f2f2f2;
}

#topHeader {
    text-align: center;
    padding: 50px;
    background-image: url("../images/bikingpic.jpg");
    height: 450px;
    background-size: cover;
    background-color: #bfae84;
    font-family: 'Libre Baskerville', serif;
    
}

#card {
    height: 200px;
    background-color: transparent;
    padding: 50px;
    color: white;
}
.nav-wrapper, .page-footer {
    background-color: #3c5375;
}

#submitButton {
    background-color: #3c5375;
}
