html {
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #3c5375;
    margin-bottom: 2px;
}

p  {
    font-family: 'Bitter', serif;
    color: #3c5375;
}

h5 {
    margin-top: 2px;
    font-family: 'Bitter', serif;
    color: #3c5375;
}

#titleBox {
    background-image: url("../images/bicycle.jpg"); 
    background-size: cover;  
    height: 500px;
    background-color: #bfae84;
    font: white;
    margin-bottom: 30px;
}

#titleText {
    opacity: .9;
    background-color: #dad5ca;
    height: 500px
}

#mapDisplay {
    height: 100%;
}

#map {
    height: 500px;
    /* width: 500px; */
}

.hide {
    display: none;
}